<!doctype html>
<html ng-app="algolia" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Restaurant Locator - by Algolia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="/node_modules/algoliasearch/dist/algoliasearch.angular.min.js"></script>

    <script src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/controllers/HomeController.js"></script>


  </head>
  <body>

  <div class="container" ng-controller="HomeController as home">
    <section class="panel clearfix">
     <header class="panel-heading">
       <div class="search_box">
         <form action="#" method="get">
           <input autocomplete="off" class="autocomplete" placeholder="Search for Restaurants by Name, Cuisine, Location" type="text" spellcheck="false" id="q" ng-model="search.query" />
           <div class="searchbutton">
             <i class="icon-search icon-large"></i>
           </div>
         </form>
       </div>
     </header>

     <div class="side-bar">
      <h1>Cuisine / Food-Type</h1>
      <ul>
        <li>Italian</li>
        <li>American</li>
        <li>Californian</li>
        <li>French</li>
        <li>Seafood</li>
        <li>Japanese</li>
        <li>Indian</li>
      </ul>
     </div>
     <div class="results-section">
       <h1>Results</h1>

       <div class="hit" ng-repeat="hit in search.hits">
         <div class="attribute" ng-repeat="(attribute,v) in hit._highlightResult">
           <span>{{ attribute }}: </span>
           <span ng-bind-html="v.value"></span>
         </div>
       </div>
     </div>
   </section>


  </div> <!-- end of container -->
  </body>
</html>
