<!doctype html>
<html ng-app="algolia" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Restaurant Locator - by Algolia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- vendor scripts -->
    <script src="./assets/js/vendor/angular.min.js"></script>
    <script src="./assets/js/vendor/angular-sanitize.min.js"></script>
    <script src="./assets/js/vendor/ng-lodash.min.js"></script>

    <!-- algolia helper -->
    <script src="./assets/js/vendor/algoliasearch.angular.min.js"></script>
    <script src="./assets/js/vendor/algoliasearch.helper.min.js"></script>

    <!-- scripts -->
    <script src="./assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/controllers/HomeController.js"></script>
    <script type="text/javascript" src="assets/js/directives/resultCard.js"></script>
    <script type="text/javascript" src="assets/js/directives/starRatings.js"></script>
  </head>
  <body>

    <div class="container" ng-controller="HomeController as home">
      <section class="panel clearfix">
       <header class="panel-heading">
         <div class="search_box">
           <form action="#" method="get">
             <input autocomplete="off" class="autocomplete" placeholder="Search for Restaurants by Name, Cuisine, Location" type="text" spellcheck="false" ng-model="query" ng-keyup="searchQuery($evt)"/>
           </form>
         </div>
       </header>

       <div class="side-bar">
        <h1>Cuisine / Food-Type</h1>
        <ul class="foodTypeList" ng-repeat="(food_type, count) in foodTypeCounts">
          <li ng-class="{ 'highlighted' : facetVal[0].name === food_type && facetVal.length === 1, 'disabled' : facetVal[0].name !== food_type && facetVal.length === 1 }"><a href="#" ng-click="toggleFacet(food_type)">{{food_type}} <span>{{count}}</span></a></li>
        </ul>
        <div class="rating-box">
          <h1>Rating</h1>
          <ul class="stars" ng-repeat="star in starsRatings">
            <li class="clearfix"> <a ng-click="toggleStars(star)"><input type="checkbox" value="star" ng-checked="home.checkRefinements(star)"><star-ratings stars="star"></star-ratings></a></li>
          </ul>
        </div>
        <button class="clear-button" ng-click="home.clearSearch()">Clear Searches</button>
       </div>

       <div class="results-section">
         <h1><b>{{search.numberOfHits}} results found</b> in 0.00{{search.processTime}} seconds</h1>
         <div class="line"></div>
         <div class="hit" ng-repeat="hit in search.hits">
            <result-card hit="hit"></result-card>
         </div>
         <button ng-click="home.toggleList()" ng-class="{'disabled' : currentPage + 1 === lastPage || search.hits.length === 0}">Show More</button>
       </div>
     </section>
    </div> <!-- end of container -->

  </body>
</html>
