.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  background: url('../images/wall.png') repeat center center fixed;
}
h1 {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
	margin-bottom: 25px;
}
h2 {
  font-size: 14px;
  letter-spacing: 1px;
}
p, li {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: #FFF;
  font-size: 2em;
  width: 88%;
  box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.4);
  p {
    margin: 5px;
  }
}

.panel {
  text-align: left;
  width: 100%;
  header {
    background-color: #1C688E;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .search_box {
      display: block;
      width: 100%;
      form {
        padding: 25px;
      }
      form input {
        width: 100%;
        height: 50px;
        letter-spacing: 1px;
        font-size: 14px;
      }
    }
  }
  .side-bar {
    float: left;
    width: 20%;
    padding:20px;
    height: 400px;
    border-right: 0.5px solid rgb(207, 207, 209);
    display: inline-block;
    ul {
      list-style-type: none;
    	padding: 0px 3px;
			margin: 0px;
			li {
				font-size: 14px;
    		padding: 4px 9px;
				border-radius: 7px;
		    margin: 0px;
			}
			li a {
				color: black;
				text-decoration: none;
				span {
					float: right;
					font-weight: 100;
					// color: rgba(0,0,0,0.9)
				}
			}
			.highlighted {
				background-color: #2897C5;
			}
			.highlighted a {
				color: white;
			}
    }

  }
  .results-section {
    display: inline-block;
    width: 70%;
    padding: 18px 0px 0px 50px;
		h1 {
			font-size: 16px;
			font-weight: 400;
		}
    .hit-box {
      margin-bottom: 22px;
      img {
        float: left;
        width: 80px;
        border: 1px solid grey;
        border-radius: 4px;
      }
      .hit-body {
        display: inline-block;
        margin-left: 16px;
        h2 {
          font-size: 17px;
          font-weight: 500;
          letter-spacing: 1px;
          margin: 0px 0px 9px ;
        }
        h3 {
          font-size: 15px;
          line-height: 1px;
					display: inline-block;
					font-weight: 400;
					letter-spacing: 1px;
					margin: 8px 5px;
        }
        span {
          font-size: 14px;
          font-weight: 100;
          letter-spacing: 1px;
          margin-top: 3px;
        }
				.stars-box {
					h3 {
						color: #FFAB66;
						float: left;
					}
					.yellow-star, .empty-star {
						border: none;
						width: 15px;
						margin-right: 3px;
					}
					p {
						font-weight: 100;
						letter-spacing: 1px;
						margin: 0px;
					}
				}

      }
      em {
        background-color: #a2c3f9;
        font-style: normal;
      }
    }
  }

}// end of .panel
